{% extends "layout.html.twig" %}

{% block otherstylesheet %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}compra.css">
{% endblock %}

{% block  botonera %}
    <li>
        <a href="{{ constant('ROOT_URL') }}compra.php?action=listado_compras" class="active"> Compras - Listado </a>
    </li>
    <li class="active">
        Compras - ver
    </li>
{% endblock  %}

{% block container_titulo %}
    Compras - Ver
{% endblock %}

{% block container_html %}
    <div class="col-md-12">
        <form class="form-horizontal" action="{{ constant('ROOT_URL') }}compra.php?">
            <fieldset>
                <legend>Informaci&oacute;n de Compra</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Proveedor: </label>
                        <div class="col-md-8">
                            <p class="form-control-static texto-cursiva">{{ compra.getProveedor().getNombre() }}</p>                    	
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Proveedor (CUIL): </label>
                        <div class="col-md-8">
                            <p class="form-control-static texto-cursiva">{{ compra.getProveedor().getCuit() }}</p>                    	
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Fecha: </label>
                        <div class="col-md-8">
                            <p class="form-control-static texto-cursiva">{{ compra.getFechaFormateada() }}</p>                    	                    	
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Estado: </label>
                        <div class="col-md-8">
                            <p class="form-control-static texto-cursiva">{{ compra.getEstadoCompra() }}</p>                    	                    	
                        </div>
                    </div>  
                </div>
                <div class="col-md-6 col-factura">
                    <div class="col-md-12 text-center">
                        <img class="img-thumbnail" src="data:image/png;base64,{{compra.getFactura()}}" alt="Factura Escaneada" />
                        <h3>Factura Digital</h3>
                        <a  target="_blank" href="{{ constant('ROOT_URL') }}compra.php?action=descargar_factura&id={{compra.getId()}}" class="btn btn-danger" role="button">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Descargar
                        </a>
                    </div>
                </div>
            </fieldset>		
        </form>
        <fieldset>
            <legend>Detalle de la compra</legend>
            <div class="table-responsive">                         	
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="texto-centrado col-md-1" id="posicion">#</th>
                            <th class="texto-centrado col-md-4" id="producto">Producto</th>
                            <th class="texto-centrado col-md-1" id="cantidad">Cantidad</th>
                            <th class="texto-centrado col-md-1" id="precio">Precio Unitario</th>
                            <th class="texto-centrado col-md-3" id="cuit_proveedor">Tipo de Egreso</th>				
                            <th class="texto-centrado col-md-2" id="fecha">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if compra.getEgresosDetalles() | length > 0 %}
                            {% for egreso in compra.getEgresosDetalles() %}
                                <tr>
                                    <th class="texto-centrado" headers="posicion">{{ loop.index }}</th>
                                    <td class="texto-centrado" headers="producto">{{ egreso.getProducto().getNombre() }}</td>
                                    <td class="texto-centrado" headers="cantidad">{{ egreso.getCantidad() }}</td>
                                    <td class="texto-centrado" headers="precio">{{ egreso.getPrecioUnitario() }}</td>
                                    <td class="texto-centrado" headers="cuit_proveedor">{{ egreso.getEgresoTipo().getNombre() }}</td>				
                                    <td class="texto-centrado" headers="fecha">{{ egreso.getFechaFormateada() }}</td>				
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">(vac&iacute;o)</td> 
                            </tr>               	                    	
                        {% endif %}
                    </tbody>
                </table>
            </div> 
            <div class="col-md-12 text-right">
                <a class="btn btn-primary" href="{{ constant('ROOT_URL') }}compra.php?action=listado_compras"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
            </div>
        </fieldset>
    </div>
{% endblock %}