{% extends "layout.html.twig" %}

{% block otherstylesheet %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}configuracion.css">
{% endblock %}

{% block container_titulo %}
    Configuraci&oacute;n del Sitio
{% endblock %}

{% block botonera %}
    <li class="active">
        Configuraci&oacute;n del Sitio
    </li>
{% endblock %}

{% block container_html %}	
    <div class="col-md-12">
        <form class="form-horizontal" action="#" method="POST">
            <fieldset>
                <legend>
                    <div class="col-md-6">Información del Sitio</div>
                    <div class="col-md-6 text-right">
                        <a href="{{ constant('ROOT_URL') }}configuracion.php?action=mostrar_form" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                        </a>
                    </div>
                </legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">T&iacute;tulo: </label>
                    <div class="col-md-10">
                        <p class="form-control-static texto-cursiva">{{ config.titulo }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Descripci&oacute;n: </label>
                    <div class="col-md-10">
                        <p class="form-control-static texto-cursiva">{{ config.descripcion }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">E-mail: </label>
                    <div class="col-md-10">
                        <p class="form-control-static texto-cursiva">{{ config.email }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Paginador: </label>
                    <div class="col-md-10">
                        <p class="form-control-static texto-cursiva">{{config.paginadoNumero}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Habilitado: </label>
                    <div class="col-md-10">
                        <p class="form-control-static texto-cursiva">
                            {{ (config.sitioHabilitado)?'SI':'NO' }}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Mensaje: </label>
                    <div class="col-md-10">
                        <p class="form-control-static texto-cursiva">{{ config.sitioHabilitadoMsj }}</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>  
{% endblock %} 