{% extends "layout.html.twig" %}

{% block otherstylesheet %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}venta.css">
{% endblock %}

{% block container_titulo %}
    Ventas - Nueva
{% endblock %}

{% block botonera %}
    <li class="active">
        Ventas - Nueva 
    </li>
{% endblock %}

{% block container_html %}
    <div class="col-md-12">
        <form class="form-horizontal" action="{{ constant('ROOT_URL') }}venta.php?action=registrar" method="POST">
            <fieldset>
                <legend>Buscador de Producto</legend>
                <div class="form-group">
                    <label  for="codigo" class="col-md-2 control-label">C&oacute;digo de barra</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input id="codigo" type="text" title="C&oacute;digo de producto" placeholder="Ingresar c&oacute;digo..." required="required" class="form-control">
                            <span class="input-group-btn">
                                <button id="search" class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img class="loading oculto" alt="Cargando" src="{{ constant('PATH_URL_IMG') }}loading.gif">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Detalle de Producto</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="marca">Marca: </label>
                        <div class="col-md-8">
                            <p class="nueva-venta form-control-static texto-cursiva" id="marca">{% if venta is defined %} {{ venta.getProducto().getMarca()}}  {% else %}-vac&iacute;o-{% endif %}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="categoria">Categor&iacute;a: </label>
                        <div class="col-md-8">
                            <p id="categoria" class="nueva-venta form-control-static texto-cursiva">{% if venta is defined %} {{ venta.getProducto().getCategoria().verCadenaCategorias() }} {% else %}-vac&iacute;o-{% endif %}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="precio">Precio: </label>
                        <div class="col-md-8">
                            <p id="precio" class="nueva-venta form-control-static texto-cursiva">{% if venta is defined %} {{ venta.getProducto().getPrecioVentaUnitario() | number_format(2, '.', ',')}} {% else %}-vac&iacute;o-{% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nombre">Nombre: </label>
                        <div class="col-md-8">
                            <p id="nombre" class="nueva-venta form-control-static texto-cursiva">{% if venta is defined %} {{venta.getProducto().getNombre() }} {% else %}-vac&iacute;o-{% endif %}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="prod_descripcion">Descripci&oacute;n:</label>
                        <div class="col-md-8">
                            <p id="prod_descripcion" class="nueva-venta form-control-static texto-cursiva">{% if venta is defined %} {{ venta.getProducto().getDescripcion()}} {% else %}-vac&iacute;o-{% endif %}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="stock">Stock:</label>
                        <div class="col-md-8">
                            <p id="stock" class="nueva-venta form-control-static texto-cursiva">{% if venta is defined %} {{venta.getProducto().getStock() }} {% else %}-vac&iacute;o-{% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="cantidad">Cantidad:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <a class=" input-group-addon boton-venta btn btn-danger " onclick="$.Venta.dec();" title="Busqueda Manual de Producto" href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                <input class="text-center form-control " id="cantidad"  min="1"  type="number" value="1" name="cantidad" required="required">
                                <a class="input-group-addon boton-venta btn btn-success " onclick="$.Venta.inc();" title="Busqueda Manual de Producto" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="descripcion">Descripci&oacute;n:</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese una descripci&oacute;n..." ></textarea>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <a id="addVenta" class="btn btn-primary"  style="display: none"  title="Agregar producto a la venta" href="#">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar
                    </a>
                </div>
            </fieldset>
            <fieldset>
                <legend>Detalle de la Venta</legend>
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1">#</th>
                                <th class="text-center col-md-2">C&oacute;digo de barra</th>
                                <th class="text-center col-md-2">Marca</th>
                                <th class="text-center col-md-2">Nombre</th>
                                <th class="text-center col-md-2">Descripci&oacute;n de la venta</th>
                                <th class="text-center col-md-1">Precio Unitario</th>
                                <th class="text-center col-md-1">Cantidad</th>
                                <th class="col-md-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-vacio" >
                                <td colspan="8" class="text-center texto-cursiva">(Vacia)</td>
                            </tr>
                        </tbody>
                        <tfoot style="display: none" >
                            <tr>
                                <td colspan="2" class="text-center total-header">TOTAL</td>
                                <td colspan="3" class="text-center total-valor">$180</td>
                                <td colspan="3" class="text-center total-boton"> 
                                    <a id="finalizarVenta" class="btn btn-lg btn-info" onclick="event.preventDefault();
                                            $.Venta.submit();" title="Finalizar la venta" href="#">
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i> Finalizar
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block otherJavascripts %}
    <script src="{{ constant('PATH_URL_JS') }}venta.js"></script>
    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $.Venta.init('{{ constant('ROOT_URL') }}');
                                        });
    </script>
{% endblock %}